/*Base reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background: hsl(218, 28%, 13%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header .logo {
    display: flex;
    justify-content: center;
    width: 40vw;
    margin-top: 50px;
    margin-right: 90px;
    padding-right: 20px;
}

header .menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-left: 90px;
    width: 30vw;
    padding-left: 20px;
}

.menu > li {
    padding: 5px 20px;
    font-family: 'Raleway', sans-serif;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.intro > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.intro .intro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-info > h1 {
    width: 70%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 35px 0;
}

.intro-info > p {
    width: 43%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

.intro-info > input {
    width: 19%;
    height: 45px;
    border-radius: 22px;
    border: none;
    background: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    margin-bottom: 20px;
    padding: 5px;
}

.services {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    grid-gap: 10px 15px;
    width: 90%;
    margin: 50px auto;
}

.services .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 50%;
}

.service > img {
    margin-bottom: 25px;
}

.service .service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-info > h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.service-info > p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: ;
}